@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    color: white;
}

.header {
    padding: 30px 0px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;  
}

.title {
    font-size: 36px;
}

.sub-title {
    font-size: 12px;
    color: lightgrey;
}

/* Body */

.body {
    padding: 10px 50px;
}

.selection {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.prompt {
    font-size: 24px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#btn {
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.5s, background-color 0.1s;
}

#btn:hover {
    transform: scale(1.1);
}

#btn:active {
    background-color: darkgrey;
}

.icon {
    font-size: 34px;
}

.result {
    height: 140px;
    margin-bottom: 120px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head2head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.score-head {
    font-size: 24px;
}

.comment {
    font-size: small;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.you,
.computer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.score .icon {
    font-size: 30px;
}

.points {
    height: 38px;
    width: 38px;
    font-size: 24px;
    background: white;
    color: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hidden {
    display: none;
}